<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/style/css/main.css}" rel="stylesheet" />
</head>
<body>
    <div class="content">
        <div>
            <p class="title">[[#{titleAdd}]]</p>
        </div>
        <form id="member" method="post" name="member" onsubmit="return isValidForm()" th:action="@{/save-member}"
              th:object="${member}">
            <div class="display-flex">
                <div class="label">[[#{name}]]</div>
                <input autocomplete="off" class="input" maxlength="20" th:field="*{name}" type="text">
            </div>
            <div class="display-flex mt10">
                <div class="label">[[#{dob}]]</div>
                <input autocomplete="off" class="input" th:field="*{dateOfBirth}" type="date">
            </div>
            <div class="display-flex mt10">
                <div class="label">[[#{education}]]</div>
                <textarea class="input-column" th:field="*{education}"></textarea>
            </div>
            <div class="display-flex mt10">
                <div class="label">[[#{email}]]</div>
                <input autocomplete="off" class="input" maxlength="40" th:field="*{email}" type="email">
            </div>
            <div class="display-flex mt10">
                <div class="label">[[#{mobileNo}]]</div>
                <input autocomplete="off" class="input" inputmode="numeric" maxlength="20"
                       onkeyup="validateNumber(this.value)" pattern="\d*" th:field="*{mobileNo}" type="text">
            </div>
            <div class="align-end mt10 content-submit">
                <input class="button-standard" type="submit" th:value="#{submit}" />
            </div>
        </form>
        <div class="align-end mt-27">
            <button class="button-standard" th:onclick="|window.location.href='/member'|">[[#{cancel}]]</button>
        </div>
    </div>
    <script>
        function validateNumber(val) {
            document.getElementsByName("mobileNo").[0].value = val.replaceAll(/\D/g,'');
        }

        document.getElementById("member").onsubmit = function() {
            return isValidForm();
        };
    </script>
</body>
</html>