<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/style/css/main.css}" rel="stylesheet" />
</head>
<body>
    <div class="content">
        <div>
            <p class="title">[[#{titleDetail}]]</p>
        </div>
        <table>
            <thead>
            <tr>
                <th colspan="2" class="header center">[[#{detail}]]</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="label">[[#{name}]]</td>
                <td class="value2" th:text="${member.name}"/>
            </tr>
            <tr>
                <td class="label">[[#{dob}]]</td>
                <td class="value2" th:text="${#dates.format(member.dateOfBirth, 'dd-MM-yyyy')}"/>
            </tr>
            <tr>
                <td class="label">[[#{education}]]</td>
                <td class="value2" th:text="${member.education}"/>
            </tr>
            <tr>
                <td class="label">[[#{email}]]</td>
                <td class="value2">
                    <a th:href="'mailto:' + ${member.email}" th:text="${member.email}"/>
                </td>
            </tr>
            <tr>
                <td class="label">[[#{mobileNo}]]</td>
                <td class="value2" th:text="${member.mobileNo}"/>
            </tr>
            </tbody>
        </table>
        <div class="align-end mt10">
            <button class="button-standard" th:onclick="|window.location.href='/member'|">[[#{back}]]</button>
        </div>
    </div>
</body>
</html>