<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--    <meta charset="UTF-8">-->
    <meta http-equiv="Content-Type" content="text/html; charset=EUC-KR">
    <title>list</title>
    <link th:href="@{/style/css/main.css}" rel="stylesheet" />
</head>
<body>
    <div>
        <div>
            <button class="button-standard" th:onclick="|window.location.href='/add-member'|">[[#{create}]]</button>
        </div>
        <div>
            <p class="title">[[#{titleList}]]</p>
        </div>
        <table class="mt10">
            <thead>
                <tr class="center">
                    <th class="number" th:text="#{no}" />
                    <th class="value" th:text="#{name}" />
                    <th class="value" th:text="#{dob}" />
                    <th class="value" th:text="#{education}" />
                    <th class="value" th:text="#{email}" />
                    <th class="value" th:text="#{mobileNo}" />
                    <th colspan="3" th:text="#{operation}" />
                </tr>
            </thead>
            <tbody>
                <tr th:each="member : ${members}">
                    <td class="number" th:text="${member.id}"></td>
                    <td class="value" th:text="${member.name}"></td>
                    <td class="value" th:text="${#dates.format(member.dateOfBirth, 'dd-MM-yyyy')}"></td>
                    <td class="value" th:text="${member.education}"></td>
                    <td class="value">
                        <a th:href="'mailto:' + ${member.email}" th:text="${member.email}"/>
                    </td>
                    <td class="value" th:text="${member.mobileNo}"></td>
                    <td class="operation link" th:onclick="|window.location.href='/edit-member/${member.id}'|" th:text="#{update}" />
                    <td class="operation link" th:onclick="|window.location.href='/member/delete/${member.id}'|" th:method="delete" th:text="#{delete}" />
                    <td class="operation link" th:onclick="|window.location.href='/member/detail/${member.id}'|" th:text="#{detail}" />
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>