body {
    font-family: Tahoma;
    font-size: 12px;
    line-height: 14px;
}
table {
    border-collapse: collapse;
    border: 1px solid;
}
tr:nth-child(even) {
  background-color: #d8d8d8;
}
th{
    border: 1px solid;
    padding: 8px;
}
td {
    padding: 10px 0px 5px 5px;
    border-right: 1px solid;
}
td:first-child {
    border-left: 1px solid;
}
.title{
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    text-align: center;
}
.header {
    font-size: 16px;
    font-weight: bold;
    border: 1px solid;
}
.center {
    text-align: center;
}
.label {
    width: 150px;
    font-weight: bold;
}
.input{
    width: 200px;
}
.input-column{
    width: 200px;
    height: 60px;
}
.number {
    width: 50px;
    text-align: center;
}
.value {
    width: 150px;
}
.value2 {
    width: 250px;
}
.operation {
    width: 75px;
    text-align: center;
}
.link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.content-submit {
    width: calc(100% - 76px);
}
.button-standard {
    border: 1px solid #7bdcb5;
    height: 100%;
    padding: 5px 15px;
    box-shadow: none;
    background-color: #7bdcb5;
    color: white;
    border-radius: 6px;
}
.content{
 margin: 10px;
 width: fit-content;
}
.align-end{
    text-align: end;
}
.mt10{
    margin-top: 10px;
}
.mt-27{
    margin-top: -27px;
}
.display-flex{
    display: flex;
}
